@page
@model WebApp.Pages.MoviesModel
@{
}

<script src="~/js/pages/movies.js"></script>

<h1>Movies List</h1>

<div class="bs-docs-section">

    <div class="row">
        <legend> Movies list</legend>
        <div class="col-lg-12">

            <table id="tblMovies" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Release Date</th>
                        <th>Genre</th>
                        <th>Director</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>


