@page
@model WebApp.Pages.UsersModel
@{
}
<script src="~/js/pages/users.js"></script>

<h1>Users List</h1>

<div class="bs-docs-section">

    <div class = "row">
        <legend> Users list</legend>
        <div class="col-lg-12">

            <table id="tblUsers" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Birth Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <legend> Search by User ID </legend>

            <div class="input-group">
                <input id="txtSearchId"
                       type="number"
                       class="form-control"
                       placeholder="Ingrese el ID…">
                <button id="btnSearchId"
                        class="btn btn-secondary"
                        type="button">
                    Buscar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">

                <form>
                    <fielset>
                        <br />
                        <legend>User Form</legend>

                        <div class="form-group">
                            <label for="txtId" class="form-label mt-4">User ID</label>
                            <input id="txtId" readonly type="number" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="txtUserCode" class="form-label mt-4">User Code</label>
                            <input id="txtUserCode" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Name</label>
                            <input id="txtName" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="txtEmail" class="form-label mt-4">Email</label>
                            <input id="txtEmail" type="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="txtBDate" class="form-label mt-4">Birth Date</label>
                            <input id="txtBDate" type="date" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="txtStatus" class="form-label mt-4">Status</label>
                            <input id="txtStatus" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="txtPass" class="form-label mt-4">Password</label>
                            <input id="txtPass" type="password" class="form-control">
                        </div>

                    </fielset>
                </form>

                <br/>
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button">Save</button>
                <button id="btnUpdate" class="source-button btn btn-info btn-xs" type="button">Update</button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button">Delete</button>

            </div>
        </div>
    </div>

</div>


